:root{
  /*--white: #fff;
  --danger: #e44e44;
  --success: #00b963;
  --twitter-blue-primary: #00cdff;
  --twitter-blue-secondary: #00cdff;
  --twitter-yellow-primary: #f49c13;
  --twitter-yellow-secondary: #f49c13;
  --twitter-red-primary: #c55b5b;
  --twitter-black-primary: #262525;
  --twitter-black-secondary: #263a5b;
  --bg-primary: #f2f5fa;*/
  
  /* Colores telectoral */
  /*
  --m-black-color: #2a2c2b;
  --m-red-color: #6e1b33;
  --m-red-black-color: #5b0a1c;
  --m-green-color: #0c231e;
  --m-semibrown-color: #e3c294;*/
  
  /* Colores pan */
  /*--m-black-color: #2a2c2b;
  --m-red-color: #1e50a9;
  --m-green-color: #0c231e;
  --m-semibrown-color: #ececec;
  --m-red-black-color: #1b2f9f;*/
  
  /* Colores pri */
  
  /*--m-black-color: #2a2c2b;
  --m-red-color: #c00301;
  --m-green-color: #0c231e;
  --m-semibrown-color: #ececec;
  --m-red-black-color: #005734;*/
  
  /* Colores movimiento */
  /*--m-black-color: #2a2c2b;
  --m-red-color: #ff8201;
  --m-red-black-color: #cc6900;
  
  --m-white-primary-color: #f2f2f2;
  --m-white-secondary-color: #e0e0e0;*/
  
  /* Colores morena */
  /*--m-black-color: #2a2c2b;
  --m-red-color: #b92207;
  --m-red-black-color: #a01d06;*/
  
  /* GENERAL */
  --white: #fff;
  --gray-primary: #ccc;
  --gray-secondary: #eaeaea;
  --black-primary: #333;
  --black-secondary: #1b1e24;
  --red-primary: #E04B4A;
  --red-secondary: #e44e44;
  
  /* DEGRADADOS GENERALES*/
  --gradient-button-info: linear-gradient(133deg, rgba(163,238,228,1) 4%, rgba(6,179,154,1) 61%);
  --gradient-button-danger: linear-gradient(133deg, rgba(244,134,134,1) 4%, rgba(212,85,84,1) 61%);
  --gradient-button-warning: linear-gradient(133deg, rgba(230,202,163,1) 4%, rgba(214,148,55,1) 61%);
  --gradient-button-success: linear-gradient(133deg, rgba(47,152,103,1) 4%, rgba(0,185,99,1) 61%);
  --gradient-button-default: linear-gradient(133deg, rgba(252,252,252,1) 4%, rgba(228,228,228,1) 61%);
  --gradient-button-black: linear-gradient(133deg, rgba(11,20,38,1) 4%, rgba(22,28,41,1) 61%);
  
  /* DEGRADADOS DEFAULT */
  /*--gray-third: #777;
  --gradient-sidebar: linear-gradient(0deg, rgba(97,97,97,1) 33%, rgba(167,167,167,1) 92%);
  --gradient-topbar: linear-gradient(90deg, rgba(167,167,167,1) 20%, rgba(97,97,97,1) 97%);
  --gradient-topbar-reversed: linear-gradient(90deg, rgba(97,97,97,1) -50%,rgba(167,167,167,1) 0%);
  --gradient-active-link: linear-gradient(194deg, rgba(135,135,135,1) 30%, rgba(97,97,97,1) 88%);
  --gradient-tr-selected: linear-gradient(107deg, rgba(170,170,170,1) 29%, rgba(97,97,97,1) 95%);
  --gradient-button-primary: linear-gradient(133deg, rgba(167,167,167,1) 0%, rgba(97,97,97,1) 55%);
  --gradient-button-secondary: linear-gradient(133deg, rgba(200,200,200,1) 4%, rgba(234,234,234,1) 61%);*/
  
  /* DEGRADADOS PAN */
  /*--gray-third: #4d64cc;
  --gradient-sidebar: linear-gradient(0deg, rgba(30,52,156,1) 33%, rgba(63,121,221,1) 92%);
  --gradient-topbar: linear-gradient(90deg, rgba(63,121,221,1) 20%, rgba(30,52,156,1) 97%);
  --gradient-topbar-reversed: linear-gradient(90deg, rgba(30,52,156,1) -50%,rgba(63,121,221,1) 0%);
  --gradient-active-link: linear-gradient(194deg, rgba(77,100,204,1) 30%, rgba(34,80,161,1) 88%);
  --gradient-tr-selected: linear-gradient(107deg, rgba(62,83,181,1) 29%, rgba(63,121,221,1) 95%);
  --gradient-button-primary: linear-gradient(133deg, rgba(77,100,204,1) 0%, rgba(34,80,161,1) 55%);
  --gradient-button-secondary: linear-gradient(133deg, rgba(200,200,200,1) 4%, rgba(234,234,234,1) 61%);*/
  
  /* DEGRADADOS MOVIMIENTO CIUDADANO */
  /*--gray-third: #006fb8;
  --gradient-sidebar: linear-gradient(0deg, rgba(255,129,1,1) 33%, rgba(210,157,22,1) 92%);
  --gradient-topbar: linear-gradient(90deg, rgba(210,157,22,1) 20%, rgba(255,129,1,1) 97%);
  --gradient-topbar-reversed: linear-gradient(90deg, rgba(255,129,1,1) -50%,rgba(210,157,22,1) 0%);
  --gradient-active-link: linear-gradient(194deg, rgba(255,129,1,1) 30%, rgba(231,165,0,1) 88%);
  --gradient-tr-selected: linear-gradient(107deg, rgba(238,163,85,1) 29%, rgba(213,153,4,1) 95%);
  --gradient-button-primary: linear-gradient(133deg, rgba(241,187,131,1) 0%, rgba(213,153,4,1) 55%);
  --gradient-button-secondary: linear-gradient(133deg, rgba(200,200,200,1) 4%, rgba(234,234,234,1) 61%);*/
  
  /* DEGRADADOS MORENA */
  /*--gray-third: #201915;
  --gradient-sidebar: linear-gradient(0deg, rgba(180,54,1,1) 33%, rgba(240,111,63,1) 92%);
  --gradient-topbar: linear-gradient(90deg, rgba(240,111,63,1) 20%, rgba(180,54,1,1) 97%);
  --gradient-topbar-reversed: linear-gradient(90deg, rgba(180,54,1,1) -50%,rgba(240,111,63,1) 0%);
  --gradient-active-link: linear-gradient(194deg, rgba(180,54,1,1) 30%, rgba(242,100,47,1) 88%);
  --gradient-tr-selected: linear-gradient(107deg, rgba(180,54,1,1) 29%, rgba(242,100,47,1) 95%);
  --gradient-button-primary: linear-gradient(133deg, rgba(180,54,1,1) 0%, rgba(242,100,47,1) 55%);
  --gradient-button-secondary: linear-gradient(133deg, rgba(200,200,200,1) 4%, rgba(234,234,234,1) 61%);*/
  
  /* DEGRADADOS PRD */
  /*--gray-third: #c4a309;
  --gradient-sidebar: linear-gradient(0deg, rgba(85,103,112,1) 33%, rgba(136,152,161,1) 92%);
  --gradient-topbar: linear-gradient(90deg, rgba(136,152,161,1) 20%, rgba(85,103,112,1) 97%);
  --gradient-topbar-reversed: linear-gradient(90deg, rgba(85,103,112,1) -50%,rgba(136,152,161,1) 0%);
  --gradient-active-link: linear-gradient(194deg, rgba(85,103,112,1) 30%, rgba(116,126,131,1) 88%);
  --gradient-tr-selected: linear-gradient(107deg, rgba(85,103,112,1) 29%, rgba(116,126,131,1) 95%);
  --gradient-button-primary: linear-gradient(107deg, rgba(223,197,74,1) 29%, rgba(207,172,12,1) 95%);
  --gradient-button-secondary: linear-gradient(133deg, rgba(200,200,200,1) 4%, rgba(234,234,234,1) 61%);*/
  
  /* DEGRADADOS PRI */
  --gray-third: #df5252;
  --gradient-sidebar: linear-gradient(0deg, rgba(120,7,7,1) 33%, rgba(228,66,66,1) 92%);
  --gradient-topbar: linear-gradient(90deg, rgba(228,66,66,1) 20%, rgba(120,7,7,1) 97%);
  --gradient-topbar-reversed: linear-gradient(90deg, rgba(120,7,7,1) -50%,rgba(228,66,66,1) 0%);
  --gradient-active-link:linear-gradient(194deg, rgba(223,82,82,1) 30%, rgba(162,32,32,1) 88%);
  --gradient-tr-selected: linear-gradient(107deg, rgba(150,18,18,1) 29%, rgba(176,33,33,1) 95%);
  --gradient-button-primary: linear-gradient(133deg, rgba(223,82,82,1) 0%, rgba(162,32,32,1) 55%);
  --gradient-button-secondary: linear-gradient(133deg, rgba(200,200,200,1) 4%, rgba(234,234,234,1) 61%);
  
  
}
.btn-primary:active:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus{
      background-color: var(--m-red-color) !important;
      color: #fff !important;
    }
/* General */
.panel-auth{
  background-color: var(--white);
  overflow: hidden;
}
.text-center{
    text-align: center;
}
.fw400{
    font-weight: 400;
}
.fw600{
    font-weight: 600;
}
.fw700{
    font-weight: 700;
}
/* End General */

/* body */
body{
  font-family: var(--muli-font);
  font-weight: 400;
  /* overflow: hidden; */
}
/* End body */

/* Panel */
.panel-auth .col-sm-offset-4{
  margin: auto;
  display: block;
  float: none;
}
.panel-auth .col-sm-4{
  width: 40%;
}

.panel-auth h3{
  font-size: 1.2em;
}
.panel-auth .panel{
  box-shadow: 0px 0px 55px 5px rgba(0,0,0,.3);
  border: none;
  background: var(--gradient-sidebar);
  color: #fff;
  padding: 15px;
}
/* End panel */

/* Icono Superior (Logo) */
.panel-auth .headLogin .icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--white);
    color: var(--gray-primary);
    font-size: 2em;
    position: relative;
    transition: ease all .7s;
    z-index: 1;
}
.panel-auth .headLogin .icon.expanded{
    transform: translateY(20vh);
}
.panel-auth .headLogin .icon::before{
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--white);
    transform: scale(1);
    transition: ease all .7s;
}
.panel-auth .headLogin .icon.expanded::before{
    transform: scale(25);
}
/* End ícono superior */

/* Inputs */

.panel-auth .shiny-input-container:not(.shiny-input-container-inline){
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: var(--black-primary);
  padding: 4px 16px;
  border-radius: 4px;
  transition: ease all .3s;
  font-weight: 400;
}
.panel-auth .shiny-input-container:not(.shiny-input-container-inline) input{
  margin-left: 11px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 0.8em;
  
}
.panel-auth .shiny-input-container:not(.shiny-input-container-inline):hover{
  transform: translateX(5px);
}
.panel-auth .shiny-input-container:not(.shiny-input-container-inline) input:focus{
  outline: none;
}
.panel-auth .shiny-input-container:not(.shiny-input-container-inline) label svg {
    fill: var(--m-red-color);
}
.panel-auth .shiny-input-container:not(.shiny-input-container-inline) label{
  font-weight: 400;
}

/* End Inputs */

/* Button */
.panel-auth button[type="button"]{
    background-color: var(--white) !important;
    color: var(--black-primary);
    width: 100%;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .3);
    transition: ease all .3s;
    border-radius: 5px;
}

.panel-auth button[type="button"]:hover{
    cursor: pointer;
    transform: translateY(5px) scale(1.1);
    border-radius: 15px;
}
.panel-auth button[type="button"]:focus{
    outline: none;
}
/* End button */

/* Bg-svg-container */
.bg-container-svg{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.bg-container-svg div{
  position: absolute !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-container-svg div{
  width: 100%;
}
.bg-container-svg div:nth-of-type(1){
  left: 0;
  top: 0;
  width: 130px !important;
  height: 130px !important;
  background-image: url('www/img/login-forma-superior-izquierda.svg');
  background-position: left;
}
.bg-container-svg div:nth-of-type(2){
  left: 0;
  bottom: 0;
  width: 25% !important;
  height: 50% !important;
  z-index: -1;
  background-image: url('www/img/login-forma-inferior-izquierda.svg');
}
.bg-container-svg div:nth-of-type(3){
  left: 150px;
  bottom: 150px;
  width: 45% !important;
  height: 45% !important;
  z-index: -2;
  background-image: url('www/img/login-forma-centro.svg');
}
.bg-container-svg div:nth-of-type(4){
  right: 0;
  bottom: 0;
  width: 10% !important;
  height: 30% !important;
  background-image: url('www/img/login-forma-inferior-derecho.svg');
  background-position: right;
}
.bg-container-svg div:nth-of-type(5){
  right: 0;
  top: 0;
  width: 5% !important;
  height: 20% !important;
  background-image: url('www/img/login-puntos-superior-derecho.svg');
}
/* End bg-svg-container */

/* Contenedor para desktop */

@media only screen and (max-width: 4000px) and (min-width: 1280px){
  .panel-auth .col-sm-4{
    width: 20%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 300px){
  .panel-auth .col-sm-4{
    width: 85%;
  }
}

/* End contenedor para desktop */