*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section.hexSection{
    min-height: 100vh;
    padding-top: 35px;
    background-color: #fffff7;
}
section.hexSection h3{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
    font-size: 2em;
    color: #fd4557;
}

a{
    text-decoration: none;
}

.hexFlexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hex container */
.hexContainer .hexRow{
    flex-wrap: wrap;
}

.hexContainer .hexRow .hexColumn img{
    display: block;
    margin: auto;
}
.hexContainer .hexRow .hexColumn .hexItem{
    transition: ease all .4s;
}
.hexContainer .hexRow .hexColumn .hexItem:hover{
    transform: scale(1.2);
    cursor: pointer;
}

/* End hex container*/